* {
  body {
    background: black;
    padding: 0;
    margin: 0;
  }
  @font-face {
    font-family: league_gothic;
    src: url(./../assets/league_gothic/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf);
  }
}
